<div id="nav_bar">
	<div class='leftNav'>
		<div class="homeLogo">AKNFKNFKL</div>
	</div>
	<div class='rightNav'>
		<span><a href='/about'>/About/</a></span>
		<span><a href="/sessions/login">/Log In/</a></span>
		<span><a href="/users/createaccount">/Create Account/</a></span>
	</div>
</div>


<div class='mountacular'><h1>Mountacular</h1></div>

