body {
	font-family: 'Raleway', sans-serif;
  	text-align: center;
  	display:flex;
	flex-direction: column;
	background: url("http://i.imgur.com/iApo4q6.png") center no-repeat fixed;
	color: white;
}
/*================================== */
/*================================== */
/* HOME SHIT */

#home_nav_bar {
	display: flex;
	justify-content: space-between;
	padding: 0 100px 0 100px;
	height: 80px;
}

#nav_bar {
	display: flex;
	justify-content: space-between;
	background-color: rgba(0,0,0,0.7);
	padding: 0 100px 0 100px;
	height: 80px;
}

.rightNav {
	display: flex;
}

.leftNav {
	color: white;
}

.homeLogo {
	padding-top: 7px;
}

.achieve {
	height: 65px;
	width: 220px;
}

p {
	padding: 30px;
	font-size: 25px;
}

.homeTitle {
	padding: 1em;
	font-family: 'Tangerine', cursive;
	font-size: 150px;
	text-shadow: 2px 2px black;
}
/*================================== */
/*================================== */
/* LOGIN PAGE SHIT */

.loginForm {
	display: flex;
	align-content: center;
	height: 400px;
	width: 320px;
	border-radius: 10px;
	display: flex;
	margin: 0 auto;
	align-items: center;
	flex-direction: column;
	align-content: center;
	justify-content: space-around;
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 20px;
	border: 2px solid white;
	background-color: rgba(0,0,0,0.7);
}

#loginTitle {
	font-size: 80px;
	font-family: 'Tangerine', cursive;
	text-shadow: 2px 2px black;
}

label {
	font-size: 20px;
	color: white;
}

span {
	padding: 5px;
	padding-top: 28px;
}

.logoutButton {
	color: #2196f3;
	background: transparent;
	border-color: transparent;
	border: none;
}

/*================================== */
/*================================== */
/* User Mount For Each Shit */

.eachMount li b {
	border-bottom: 2px solid white;
}

.eachMount {
	display: flex;
	align-content: left;
	height: 450px;
	width: 400px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-bottom: 10px;
	font-size: 20px;
	border: 2px solid white;
	background-color: rgba(0,0,0,0.7);
	margin: 20px;
}

/*.fullEachMount {
	margin: 0 auto;
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    float: left;
    padding: 39px;
}*/

ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	border-bottom: 10px solid black;
}

.mountPic {
	height: 100px;
	width: 120px;
}

.createNewContainer {
	margin-bottom: 50px;
}

.newMountForm {
	display: flex;
	height: 550px;
	width: 350px;
	padding-bottom: 20px;
	margin: 0 auto;
	align-items: center;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-around;
	font-size: 20px;
	border: 2px solid white;
	background-color: rgba(0,0,0,0.7);

}

/*================================== */
/*================================== */
/* USER MOUNT SHOW PAGE BOYS */

.showIcon {
	height: 300px;
	width: 400px;
}

.showPageContainer {
	height: 800px;
	width: 900px;
	margin: 0 auto;
	align-items: center;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-around;
	font-size: 20px;
	border: 2px solid white;
	background-color: rgba(0,0,0,0.6);
	flex-wrap: wrap;
}

.showDivs {
	justify-content: center;
	display: flex;
	width: 100%;
}

.showFont {
	font-family: 'Kalam', cursive;
	text-decoration: underline;
}

.mountNameShow {
	font-family: 'Kalam', cursive;
	font-size: 90px;
}

/*================================== */
/*================================== */
/* NEW USER SIGN UP PAGE */

.signUpForm {
	display: flex;
	height: 550px;
	width: 350px;
	padding-bottom: 20px;
	margin: 0 auto;
	align-items: center;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-around;
	font-size: 20px;
	border: 2px solid white;
	background-color: rgba(0,0,0,0.7);
}

#signUpTitle {
	font-size: 80px;
	font-family: 'Tangerine', cursive;
	text-shadow: 2px 2px black;
}

/*================================== */
/*================================== */
/* MOUNT EDIT PAGE */

.mountEditForm {
	display: flex;
	height: 600px;
	width: 350px;
	padding-top: 20px;
	margin: 0 auto;
	align-items: center;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-around;
	font-size: 20px;
	border: 2px solid white;
	background-color: rgba(0,0,0,0.7);
}

.editMountButton {
	padding-bottom: 20px;
	font-size: 20px;
}

.editPageSplit {
	padding-bottom: 50px;
	border-bottom: 10px solid black;
}

.editMountTitle {
	font-family: 'Tangerine', cursive;
	font-size: 90px;
	text-shadow: 2px 2px black;
}

.red {
	padding-bottom: 20px;
}













