body {
	font-family: 'Raleway', sans-serif;
  	text-align: center;
  	display:flex;
	flex-direction: column;
	background: url("http://i.imgur.com/iApo4q6.png") center no-repeat fixed;
	color: white;
}
/*================================== */
/*================================== */

/* HOME SHIT */
#home_nav_bar {
	display: flex;
	justify-content: space-between;
	padding: 0 100px 0 100px;
	height: 80px;
}

#nav_bar {
	display: flex;
	justify-content: space-between;
	background-color: rgba(0,0,0,0.7);
	padding: 0 100px 0 100px;
	height: 80px;
}

.rightNav {
	display: flex;
}

.leftNav {
	color: white;
}

.homeLogo {
	padding-top: 7px;
}

.achieve {
	height: 65px;
	width: 220px;
}

p {
	padding: 30px;
	font-size: 25px;
}

.homeTitle {
	padding: 1em;
	font-family: 'Tangerine', cursive;
	font-size: 140px;
}
/*================================== */
/*================================== */

/* LOGIN PAGE SHIT */
.loginForm {
	display: flex;
	align-content: center;
	height: 400px;
	width: 320px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-around;
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 20px;
	border: 2px solid white;
	background-color: rgba(0,0,0,0.7);
}

#loginTitle {
	color: black;
	text-shadow: 1px .5px white;
}

label {
	font-size: 20px;
	color: white;
}

.loginForm {
	margin: 0 auto;
	align-items: center;
}

span {
	padding: 5px;
	padding-top: 28px;
}

.logoutButton {
	color: #2196f3;
	background: transparent;
	border-color: transparent;
	border: none;
}

/*================================== */
/*================================== */

/* User Mount For Each Shit */


