<h1><a href='/'>Mountacular</a></h1><br>
<form class='loginForm' action="/sessions/login" method="post">
  <div class='loginFormDiv'>
    <label class= "loginLabel" for="email">Email: </label>
    <input type="text" name="email">
  </div>

  <div class='loginFormDiv'>
    <label class= "loginLabel" for="password">Password: </label>
    <input type="text" name="password">
  </div>

  <input type="submit" value="Login">
</form>
